In [9]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
import re

In [10]:
# Load the dataset
df = pd.read_csv('salaries.csv')

In [11]:
df.shape

(870, 6)

In [28]:
# Function to clean the salary column and extract min and max salary values
def extract_salary_range(salary_str):
    # Use regex to find salary range in the format (e.g., "$68K - $94K")
    salary_range = re.findall(r'(\d+K)', salary_str)
    
    # If two values are found, assign min and max salary
    if len(salary_range) == 2:
        min_salary = int(salary_range[0].replace('K', '')) * 1000
        max_salary = int(salary_range[1].replace('K', '')) * 1000
        return (min_salary + max_salary) / 2  # Return the average salary
    return None

# Apply the function to the 'Salary' column and create a new column for average salary
df['Average Salary'] = df['Salary'].apply(extract_salary_range)

In [30]:
# Now let's check for missing values in the new 'Average Salary' column

missing_salaries = df['Average Salary'].isnull().sum()

# Display the number of missing salaries

missing_salaries

148

In [46]:
# Create an instance of SimpleImputer for numerical data
imputer_numeric = SimpleImputer(strategy='mean')

# Apply it to the 'Company Score' (numerical column) to fill missing values with the mean
df[['Company Score']] = imputer_numeric.fit_transform(df[['Company Score']])

# For categorical columns (like 'Company', 'Location'), use the most frequent value to fill missing data
imputer_categorical = SimpleImputer(strategy='most_frequent')

# Apply it to the 'Company' and 'Location' columns
df[['Company', 'Location']] = imputer_categorical.fit_transform(df[['Company', 'Location']])


# Create an instance of SimpleImputer for numerical data (strategy = median)
imputer = SimpleImputer(strategy='median')

# Apply it to the 'Average Salary' column to fill missing values with the median
df[['Average Salary']] = imputer.fit_transform(df[['Average Salary']])

# Check for any remaining missing values in the dataset
df.isnull().sum()

Company           0
Company Score     0
Job Title         0
Location          0
Date              0
Salary            0
Min Salary        0
Max Salary        0
Average Salary    0
dtype: int64

In [47]:
df.head()

,Company,Company Score,Job Title,Location,Date,Salary,Min Salary,Max Salary,Average Salary
0,ViewSoft,4.8,Software Engineer,"Manassas, VA",8d,$68K - $94K (Glassdoor est.),68000.0,94000.0,81000.0
1,Workiva,4.3,Software Support Engineer,Remote,2d,$61K - $104K (Employer est.),61000.0,104000.0,82500.0
2,"Garmin International, Inc.",3.9,C# Software Engineer,"Cary, NC",2d,$95K - $118K (Glassdoor est.),95000.0,118000.0,106500.0
3,Snapchat,3.5,"Software Engineer, Fullstack, 1+ Years of Expe...","Los Angeles, CA",2d,$97K - $145K (Employer est.),97000.0,145000.0,121000.0
4,Vitesco Technologies Group AG,3.1,Software Engineer,"Seguin, TX",2d,$85K - $108K (Glassdoor est.),85000.0,108000.0,96500.0

In [59]:
# the 'Salary' column has been drop now that min and max salaries are extracted
df2 = df.drop(columns=['Salary'])

# show the new data without the Salary column
df2.head(20)

,Company,Company Score,Job Title,Location,Date,Min Salary,Max Salary,Average Salary
0,ViewSoft,4.8,Software Engineer,"Manassas, VA",8d,68000.0,94000.0,81000.0
1,Workiva,4.3,Software Support Engineer,Remote,2d,61000.0,104000.0,82500.0
2,"Garmin International, Inc.",3.9,C# Software Engineer,"Cary, NC",2d,95000.0,118000.0,106500.0
3,Snapchat,3.5,"Software Engineer, Fullstack, 1+ Years of Expe...","Los Angeles, CA",2d,97000.0,145000.0,121000.0
4,Vitesco Technologies Group AG,3.1,Software Engineer,"Seguin, TX",2d,85000.0,108000.0,96500.0
5,Spotify,3.9,Backend Engineer II,"New York, NY",1d,123000.0,175000.0,149000.0
6,Infor,4.0,Associate Software Engineer,"Alpharetta, GA",7d,77000.0,94000.0,85500.0
7,Amerisoft Corporation,5.0,Software Developers,"Farmington Hills, MI",30d+,71000.0,100000.0,85500.0
8,WHOOP,3.3,"Software Engineer II (Backend, Health)","Boston, MA",10d,94000.0,148000.0,121000.0
9,PFF,4.2,Sr. Software Engineer,Remote,1d,147000.0,189000.0,168000.0
10,Salesforce,4.1,MTS Software Engineer,"San Francisco, CA",5d,90000.0,113000.0,101500.0
11,"HealthMine Services, Inc.",3.8,Software Engineer,Remote,1d,54000.0,79000.0,66500.0
12,Honeywell,4.1,Software Engineer I,"Aguadilla, PR",2d,91000.0,135000.0,113000.0
13,Legrand AV,3.7,Software Engineer,Minneapolis-Saint Paul,2d,70000.0,135000.0,102500.0
14,Athenahealth,4.0,"Software Engineer, athenaCollector – RCM Rules","Boston, MA",2d,192000.0,288000.0,240000.0
15,Amex,4.1,Java Engineer,"Plantation, FL",6d,100000.0,125000.0,112500.0
16,SOFT LABS NA,5.0,Entry Level to Senior Level Software Developers,"Northborough, MA",30d+,85000.0,127000.0,106000.0
17,Snapchat,3.5,"Software Engineer, C++","Los Angeles, CA",2d,69000.0,109000.0,89000.0
18,Hertz,3.2,Software Engineer,"Seattle, WA",2d,124000.0,234000.0,179000.0
19,Megaport,3.4,Frontend Software Engineer,United States,2d,84000.0,133000.0,108500.0

In [60]:
mv=df2.isnull().sum()
mv

Company           0
Company Score     0
Job Title         0
Location          0
Date              0
Min Salary        0
Max Salary        0
Average Salary    0
dtype: int64

In [61]:
df2 = df2.drop_duplicates()

In [62]:
df2.to_csv('IT salaries_cleaned new.csv', index=False)

In [67]:
df3=pd.read_csv('IT salaries_cleaned new.csv')

In [70]:
# X: All columns except the last one (Average Salary)
X = df3.iloc[:, :-1].values  

# y: The last column (Average Salary)
y = df3.iloc[:, -1].values

print("Independent Variables (X):")
print(X)

Independent Variables (X):
[['ViewSoft' 4.8 'Software Engineer' ... '8d' 68000.0 94000.0]
 ['Workiva' 4.3 'Software Support Engineer' ... '2d' 61000.0 104000.0]
 ['Garmin International, Inc.' 3.9 'C# Software Engineer' ... '2d'
  95000.0 118000.0]
 ...
 ['Medtronic' 3.895310519645121 'Senior Software Engineer' ... '19d'
  103481.9944598338 155217.4515235457]
 ['CVS Health' 3.895310519645121 'Junior Python Developer' ... '2d'
  103481.9944598338 155217.4515235457]
 ['CVS Health' 3.895310519645121
  'GUI Software Engineer II - Surgical Robotics' ... '10d'
  103481.9944598338 155217.4515235457]]

In [71]:
print (y)

[ 81000.  82500. 106500. 121000.  96500. 149000.  85500.  85500. 121000.
 168000. 101500.  66500. 113000. 102500. 240000. 112500. 106000.  89000.
 179000. 108500. 117500.  68500.  81500. 153500. 137500. 133000. 113500.
  93000. 160000. 111000. 129500. 122500. 134500.  96000. 150000.  64500.
 154000. 101500. 150000.  89000. 188000. 138500.  91000. 135000. 106000.
  82000.  77500.  87500.  92500. 166500. 151500. 107000. 177500. 135000.
  85500. 124000.  95000.  84000.  95000.  96500. 117500. 131500. 125000.
 160000. 106500. 117750. 102500. 103000.  83000.   6500.  87000.  72000.
  92500. 104500. 118000. 167500.  99500. 145000. 205000. 117750. 135000.
 121000. 125500. 163500.  98000. 126000. 117750.  89500.  95000.  84500.
 146500. 106500. 112000.  80000.  95000. 102000. 187000. 107500. 133000.
 149500.  99500. 123500. 106500.  64500. 105500.  82500. 213000. 106000.
 102000. 112500. 101000. 126000.  99500. 160000. 187500. 117750. 102500.
 218500. 148000. 118000. 130500. 107000. 108000. 107000.  80000. 173000.
  82500. 154000. 141500. 126500. 130500. 106000. 130000.  94000. 120000.
  98500. 200000. 128500. 106500. 123500.  90000. 114000. 135000. 120000.
  98500.  99500.  94500. 227500.  99000.  80000. 138500.  89500. 128500.
 103500. 100000. 216000. 161500. 367500. 120500. 139000. 117750. 117750.
 212500.  97500. 180000. 103500.  88500. 132500. 137500.  87000. 125000.
 108500. 112500. 138500. 117750. 153500. 168000. 115500.  95000. 138000.
  92000. 111000. 185000. 103000. 133000. 100000. 110500. 158000. 104000.
 167500. 103500. 153500.  99500. 132500. 117750.  91500. 123500.  95500.
 175500. 102500. 132500.  99000. 114500. 151500.  92000.  96500.  94000.
 103000. 121000. 116500. 190000. 124000. 117750. 151500. 147500. 236500.
  94000. 111500.  69500. 246000.  86500. 103500.  90500.  97000.  95500.
 107500. 115000. 108000.  82500. 120000. 179000. 103500. 160500. 167000.
 170000. 103000. 121000. 114000.  78000. 178500. 200000. 139500. 115500.
  74500.  75000. 167000. 152000. 109000. 125000. 114000.  83500. 122500.
 121500. 182000. 138000. 119000. 161000. 116500. 144000.  80500. 162500.
 117750. 126500. 117750.  95000. 110000. 125000. 163500.  88500.  86000.
 129500. 159500. 141000.  83000. 133500.  74000.  95000. 159000. 147000.
  76500. 121500.  78000. 117750. 123500. 138000.  90500. 150000. 115500.
 101000.  90000. 153500.  99500. 138500. 199500. 129500. 128000. 106000.
 117750.  87500. 118000. 117750. 176000. 102000. 111000. 112000. 115500.
  89500. 133000. 100000. 102500. 124000. 175000. 121000. 125000. 117750.
  97500. 106000. 117750. 162500. 101000. 203000.  94500. 142500. 112500.
 120000. 145000. 240000. 130000. 113000.  70000.  98000. 117500.  98000.
 128500. 217500. 135000. 145000. 100500.  99000. 137500.  89500. 120000.
 135000. 108000. 117750.  94000. 189000.  91000.  88500. 102500.  15000.
 132000. 108500. 132500.  91000. 127000. 110000.  85000. 102500. 185000.
  68500.  72500. 120500. 112000. 115500. 102000. 111500. 140500. 137000.
 272500.  82000.  91500. 285000. 120000.  88000.  55000.  89000. 118000.
 118000. 117750.  97000.  80000. 125500. 192000.  83000. 105000.  99500.
 175000. 107500.  82500.  67000.  98000. 117750. 143500.  72500. 200000.
 133500. 111500. 130000. 127000. 122500. 132000.  87000.  86500. 154000.
 117500.  87000. 109500. 104500.  86000. 215000.  82000. 189000.  86000.
  98500. 140500. 117750. 220000.  80000. 117750. 107000. 190000. 190000.
 120000. 125500. 107000. 107500. 272500. 260500. 155500. 104500. 163500.
 132000. 144000. 137500. 145500. 145000. 147500. 167500. 153500. 153000.
 132500. 162000.  97500.  97500. 145500. 100000. 211500. 107500. 114500.
 112000. 132500. 170000.  80000.  95000. 126500. 185000. 105500. 195500.
 106500. 108500. 153500.  82000.  94500. 100000. 120000. 177000. 126000.
 102500. 117750. 117750.  95000. 192500. 116500. 122500. 195000. 165000.
 172000. 115000. 188000. 104000. 117750.  99000. 157500. 197000.  78000.
 107500. 223000. 114000. 167500. 250000. 163000.  90000.  90000. 259500.
 181500. 117500.  95000. 110500. 133000. 188000. 117000.  95500. 233500.
 130000. 106000. 255000. 111000. 117750. 130000. 111000. 147500. 154000.
  76000. 120500. 120000. 104000. 165500.  92500. 112500. 108000. 152500.
 116500. 178000.  96500. 132500. 490000. 197500. 117750. 139500.  96500.
 117750. 114000. 115500. 115000. 167000. 226000. 153500.  91000. 117750.
  96000. 166500. 191000. 109500. 107500. 117750.  80500.  73500. 125500.
  97500.  80000. 100500.  96500.  86500. 172000. 176500. 117750. 117750.
 200000. 160000.  83500.  72500. 101500. 128500. 155000. 216500. 115500.
 226000. 115500.  98500. 188000. 150000.  96500. 117750. 168000. 188000.
 112500. 105000. 387500. 138500. 253000. 105500. 228500. 212500.  80000.
  97500. 101500. 134500. 132000. 130500. 135000. 108000.  70000. 144500.
  97000. 119000. 220000.  89000. 167500. 106500. 130000.  75000.  85000.
 102000. 127500. 108000. 117750. 115000. 125000.  99500. 147000. 162000.
 153000. 151000. 105500. 117750. 112500. 130500. 213000. 139500. 111500.
 117750. 147500.  83000. 176500. 202000.  91500.  77500. 112500. 130000.
 122500.  83000.  10000. 110500. 135000. 181500.  64000. 105500. 192500.
 126000. 125000.  96000.  59500. 144000.  95500. 114000. 135000.  99500.
 135000. 220000.  98500. 117750.  91500. 112000. 124500. 108500. 117750.
 171000. 240500. 126000. 205000. 106500. 176500. 122000. 145000.  91500.
  87000. 226000. 375000. 108000.  90000. 132000. 129000. 142500. 103500.
  86000. 130500. 140000. 162000. 117500.  86000.  90000.  94500.  99500.
 181500. 130000. 117750. 170000. 137000. 165000. 109000. 140000. 214000.
 129000. 210500. 231500. 168000. 117750. 130000. 164000.  88500. 135000.
 196500. 105000.  92500. 167500. 207000. 115000. 149000. 106000.  90500.
 166500.  96500. 176500. 112500. 117500.  75500. 127500. 122000. 147500.
 217500. 127000. 115000. 122500. 107500.  74500. 103000. 146000. 111500.
  95000.  95000. 197000. 216500. 134500.  87500. 160000. 126000. 161500.
 106000. 115000. 195500. 117500. 192000. 316500. 121500. 161000. 116500.
 131500. 183000. 216000.  66500. 176500. 151000. 101000. 179000.  99500.
 117750. 117750. 259000. 272500. 117750. 100000.  88000. 119000. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750. 117750.
 117750. 117750. 117750. 117750. 117750. 117750.]